.DS_Store

# Python
.venv/
__pycache__/
*.pyc

# Node
node_modules/
frontend/.next/
frontend/out/
frontend/.env.local

# Editor
.vscode/

examples/test_Ernährungssicherheit_MoWiKo_Philo.json
examples/test_Ernährung_output.json

models